* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

#inputScreenDiv {
    background-color: #eee;
    border: 1px solid #000;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 60vw;
    flex-direction: column;
}

#userInput, #userMaxNumber, #tries {
    width: 50%;
    text-align: center;
    margin: 3px;
}

.button {
    background-color: rgb(56, 46, 46);
    display: inline-block;
    margin-top: 20px;
    color: #fff;
    padding: 10px;
}

.button:hover {
    background-color: #777;
    cursor: pointer;
}

.hidden {
    display: none;
}

.summary {
    
}