* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-position: center;
    z-index: -1;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}

h2 {
    text-align:  center;
}

.scissors {
    background-image: url(../images/Scissors.png);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
    height: 20px;
    width: 20px;
}

.stone {
    background-image: url(../images/Stone.png);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
    height: 20px;
    width: 20px;
}

.paper {
    background-image: url(../images/Paper.png);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
    height: 20px;
    width: 20px;
}

.choices {
    
    height: 150px;
    width: 150px;
}
.choices:hover {
    background-color: #eee;
    cursor: pointer;
}

#startscreen {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    border-radius: 10px; 
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.767);
    width: 40vw;
    height: 30vh;
}

#flexbox1 {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    height: 60vh;
    width: 80vw;
    border: 1px solid #000 ;
    border-radius: 10px;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.767);
}
#flexbox2 {
    display: flex;
    justify-content:center;
    align-items: center;
    height: 20vh;
    width: 80vw;
    border: 1px solid #000 ;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.767);
    margin: 5px;
}

#flexing {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80vw;

}

#popUp {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 100;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 20vh;
    width: 30vw;
    text-align: center;
    background-color: #eee;
    border: 1px solid #777;
    border-radius: 10px;
}

#oppacityDiv {
    z-index: 99;
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.664);
    display: flex;
    justify-content: center;
    align-items: center;
}

.summary {
    height: 15vh;
    width: 15vw;
    border: 1px solid #000;
    border-radius: 10px;
    margin: 2px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#won {
    background-color: green;
}

#lost {
    background-color: red;
}

#draw {
    background-color: yellow;
}

.hidden {
    display: none;
}

.button {
    background-color: rgb(56, 46, 46);
    display: inline-block;
    margin-top: 20px;
    color: #fff;
    padding: 10px;
}

.button:hover {
    background-color: #777;
    cursor: pointer;
}

#winCounter {
    width: 80%;
    text-align: center;
}



